@model ContactForm

@{
    ViewData["Title"] = "Contact Page";
}

  <section id="contact">
      <div class="contact-wrapper">
        <div class="contact-form container">
          <h1 class="m-heading text-center">Contact Us</h1>
          <p class="text-center">Please use the form to contact me</p>

          <form method="post">
            <div class="form-group">
              <label asp-for="Name"></label>
              <input asp-for="Name" type="name" name="name" id="name">
              <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Email"></label>
              <input asp-for="Email" type="email" name="email" id="email">
              <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div class="form-group">
              <label asp-for="Phone"></label>
              <input asp-for="Phone" type="phone" name="phone" id="phone">
              <span asp-validation-for="Phone" class="text-danger"></span>

            </div>
            <div class="form-group">
              <label asp-for="Message"></label>
              <textarea asp-for="Message" Class=""></textarea>
              <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <input type="submit" value="Send" class="btn" a>
          </form>
        </div>
      </div>
  </section>

  <section id="contact-info">
    <div class="info-box" class="bg-dark">
      <div class="container">
        <div class="box">
          <i class="fa-solid fa-hotel fa-3x"></i>
          <h3>Location</h3>
          <p>Woji, Port Harcourt, Rivers State</p>
        </div>
        <div class="box">
          <i class="fa-solid fa-phone fa-3x"></i>
          <h3>Phone Number</h3>
          <p>(+234) 810-463-5559</p>
        </div>
        <div class="box">
          <i class="fa-solid fa-envelope fa-3x"></i>
          <h3>Email  Address</h3>
          <p>fabbenco97@gmail.com</p>
        </div>
      </div>
    </div>
    </section>

    <section id="action">
      <div class="container">
        <h1 class="m-heading text-center py-3">Let us work together to.... <span class="txt-type" data-wait="3000" data-words='["Fulfil your design goals", "Elevate your brand"]'></span></h1>     
      </div>
    </section>

