@model IEnumerable<Skill>
@{
    ViewData["Title"] = "About";
}

<section id="about">
  <div class="about-container">
    <h2 class="m-heading text-center"><span class="text-primary">My Bio</span></h2>  
    <div class="bio">
      <div class="bio-img"></div>  
      <div class="bio-text">           
          <p>Hello! I'm <span>Fabian Muoghalu</span>, a fullstack software engineer with an educational background in English and Literature. I develop a robust and efficient software. My mission is to breathe life into brands through captivating design solutions that resonate with audiences and drive meaningful impact.</p>

          <p> if you are looking for a professional designer to handle your brands design, search no more, fabbenco design is here to fulfil your design needs. Let’s work together to create designs that captivate and inspire. </p>  
      </div>      
    </div>
  </section>


<section id="choose">
  <div class="container">
    <h2 class="m-heading text-center py-2">Key <span class="text-primary">Strengths</span></h2>
    <div class="choose-items">
      <div class="item">
        <h4>Creativity & Innovation:</h4> I pride myself on thinking outside the box. I bring fresh, innovative ideas to each project, ensuring your designs are unique and stand out from the competition.
     </div>
     <div class="item">
       <h4>Client-Centered Approach:</h4> Your vision is my priority. I collaborate closely with you throughout the design process to ensure the final product aligns with your goals and exceeds your expectations.
      </div> 
      <div class="item">
         <h4>Attention to Detail:</h4> I believe that the small details make a big difference. I meticulously refine every element of your design to ensure it’s perfect.
      </div>
</section>


<section id="award-section"> 
    <div class="award-wrapper container">
          <div class="award-1">
            <i class="fas fa-award fa-3x"></i>
            <h3>Award One</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
              magni!
            </p>
          </div>
          <div class="award-2">
            <i class="fas fa-award fa-3x"></i>
            <h3>Award Two</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
              magni!
            </p>
          </div>
          <div class="award-3">
            <i class="fas fa-award fa-3x"></i>
            <h3>Award Three</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
              magni!
            </p>
          </div>
    </div>
    </section>


<section id="skill">
    <h2 class="m-heading text-center py-1"><span class="text-primary">Skills</span> Track Record:</h2> 
    <div class="skill-items container">
       <div class="bottom-line"></div> 
       
       @foreach (var item in Model)
        {
            <div class="skill-item">
             <h4>@item.SkillName</h4>
             <p>@item.Description</p>
           </div>
          <div class="progress">
                <div style="width:@item.Description"></div>
          </div>
            
        }



      @*  <div class="skill-item">
         <h4>JavaScript:</h4>
         <p>80%</p>
       </div>
      <div class="progress">
        <div style="width:80%"></div>
      </div>
      <div class="skill-item">
         <h4>C#:</h4>
         <p>98%</p>
       </div>
      <div class="progress">
        <div style="width:98%"></div>
      </div>
      <div class="skill-item">
         <h4>React:</h4>
         <p>85%</p>
       </div>
      <div class="progress">
        <div style="width:85%"></div>
      </div>  
      <div class="skill-item">
         <h4>SQL:</h4>
         <p>75%</p>
       </div>
      <div class="progress">
        <div style="width:75%"></div>
      </div> *@
    </div> 
</section>

<section id="resume-section">
 <div class="container">
     <h2 class="py-2">My Resume</h2>
        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Sumary</h3>

            <div class="resume-item pb-0">
              <h4>Brandon Johnson</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div><!-- Edn Resume Item -->


            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Fine Arts &amp; Graphic Design</h4>
              <h5>2015 - 2016</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div><!-- Edn Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior graphic design specialist</h4>
              <h5>2019 - Present</h5>
              <p><em>Experion, New York, NY </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div><!-- Edn Resume Item -->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->


<section id="about-d" class="py-3">
      <div class="container">
        <h2 class="section-title">Testimonials</h2>
        <div class="dark-bottom-border"></div>
        <p class="lead text-center">Take a look at what my clients say...</p>
        <div class="testimonials">
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates officiis quia nostrum nam ab vel laudantium, ea,
              corrupti culpa illum soluta ipsam eos, eius ad error voluptate
              sint? Non, fugit!
            </p>
            <ul>
              <li><img src="https://res.cloudinary.com/dlu45noef/image/upload/v1726264635/person1_kp1pym.jpg" alt="" /></li> 
              <li>Sam Smith, New York</li>
            </ul>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates officiis quia nostrum nam ab vel laudantium, ea,
              corrupti culpa illum soluta ipsam eos, eius ad error voluptate
              sint? Non, fugit!
            </p>
            <ul>
              <li><img src="https://res.cloudinary.com/dlu45noef/image/upload/v1726264634/person2_dih56r.jpg" alt="" /></li>
              <li>Sara Williams, Michigan</li>
            </ul>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates officiis quia nostrum nam ab vel laudantium, ea,
              corrupti culpa illum soluta ipsam eos, eius ad error voluptate
              sint? Non, fugit!
            </p>
            <ul>
              <li><img src="https://res.cloudinary.com/dlu45noef/image/upload/v1726264634/person3_mm8esp.jpg" alt="" /></li>
              <li>Jill Johnson, London</li>
            </ul>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates officiis quia nostrum nam ab vel laudantium, ea,
              corrupti culpa illum soluta ipsam eos, eius ad error voluptate
              sint? Non, fugit!
            </p>
            <ul>
              <li><img src="https://res.cloudinary.com/dlu45noef/image/upload/v1726264634/person4_a24ufl.jpg" alt="" /></li>
              <li>Steve Thompson, Boston</li>
            </ul>
          </div>
        </div>
      </div>
    </section>