
@{

}

<section class="forms">

    <div class="container">
        <h1>Contact Form List</h1>

        <table style="width: 100%; height: 50%;">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th style="width: 50%;">Message</th>
            </tr>
            <tr>
              <th>Fabian</td>
              <td>fabbenco97@gmail.com</td>
              <td>08104636559</td>
              <td>I want to build an for me</td>
            </tr>
            <tr>
              <th>Fabian</td>
              <td>fabbenco97@gmail.com</td>
              <td>08104636559</td>
              <td>I want to build an for me</td>
            </tr>
          </table>
    </div>

</section>

