@{
    ViewData["Title"] = "Admin-Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

  <section class="admn-section">
      <h1 class="text-primary dark-text">Welcome Fabbenco</h1>
      <div class="admin-items">
          <div class="admin-flex-items">
            <h2>Contact Details</h2>
            <a asp-controller="Admin" asp-action="Detail" class="btn">View contact Details</a>

          </div>
          <div class="admin-flex-items">
            <h2>Resume</h2>
            <a asp-controller="Resume" asp-action="Index" class="btn">View Resume</a>

          </div>
          <div class="admin-flex-items">
            <h2>Projects</h2>
            <a asp-controller="Project" asp-action="Index" class="btn">View Projects</a>

          </div >
          <div class="admin-flex-items">
            <h2>Skills Section</h2>
            <a asp-controller="Skill" asp-action="Index" class="btn">View Skills</a>

          </div>
          <div class="admin-flex-items"> 
            <h2>Contact Forms</h2>
            <a asp-controller="ContactForm" asp-action="Index" class="btn">View contact forms</a>
          </div>
      </div>
  </section>

